# Root
node_modules/
package-lock.json

# Frontend
Frontend/node_modules/
Frontend/dist/

# Backend
Backend/node_modules/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

service-account.json
secrets/**

Backend/kipk-report-78a578ea327c.json

Backend/uploads/